<header>
  <div class="container">
    <div class="headbar">
      <ul class="list-inline">
        <li>
          <h2 class="brand">
            <a href="<%= root_path %>">MaM
              <i class="fa fa-stethoscope" style="font-size:48px;color:white"></i>
            </a>
          </h2>
        </li>
        <li class="pull-right">
          <h2>
            <a href="/#categories" class="btn btn-second btn-width">Categories</a>
          </h2>
        <li class="pull-right">
          <h2>
            <a href="/#testimonials" class="btn btn-second btn-width">Testimonials</a>
          </h2>
        </li>
        <li class="pull-right">
          <h2>
            <a href="<%= about_path %>" class="btn btn-second btn-width">Contact</a>
          </h2>
        </li>
      </ul>
    </div>
    <!-- Headbar -->
    <div class="row banner-title text-center">
      <b>
        <h1>Music as Medicine</h1>
      </b>
      <h5>Where neuroscience meets healthcare</h5>
      <a href="<%= about_path %>" class="btn btn-trans">About</a>
      <p>&nbsp;</p>
    </div>
    <!-- Banner-title -->
  </div>
  <!-- Container -->
  <% if params[:id] != nil && current_page?(category_path{params[:id]}) %>
  <div class="headsearch">
    <div class="col-md-6 col-md-offset-3">
      <%= form_tag(@category, method: "get", id: "search-form", class: "input-group") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control " %>
      <span class="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-second" %>
      </span>
      <% end %>
    </div>
  </div>
  <% end %>
  <!-- Headsearch -->
</header>
