<div class='slider'>
  <div><%= link_to @category %><img src="assets/slider/cat1-brain.jpeg" alt=""><a href="/categories/1"></a> </div>
  <div><%= link_to @category %><img src="assets/slider/cat2-hospital.jpg" alt=""><a href="/categories/2"></a> </div>
  <div><%= link_to @category %><img src="assets/slider/cat3-dementia.jpg" alt=""><a href="/categories/3"></a></div>
  <div><%= link_to @category %><img src="assets/slider/cat4-postop.jpeg" alt=""><a href="/categories/4"></a></div>
  <div><%= link_to @category %><img src="assets/slider/cat5-oncology.jpeg" alt=""><a href="/categories/5"></a></div>
  <div><%= link_to @category %><img src="assets/slider/cat6-anxiety.jpeg" alt=""><a href="/categories/6"></a></div>
  <div><%= link_to @category %><img src="assets/slider/cat7-parkinson.jpg" alt=""><a href="/categories/7"></a></div>
  <div><%= link_to @category %><img src="assets/slider/cat8-heart.jpg" alt=""><a href="/categories/8"></a></div>
  <div><%= link_to @category %><img src="assets/slider/cat9-autism.jpg" alt=""><a href="/categories/9"></a></div>
</div>
