<div class=" text-center page-title">
  <h2><%= @category.name %></h2>
  <h5><%= @category.description %></h5>
</div>
<div class="container">
  <div class="col-md-12">

    <% @iteration = false %>
    <% @contents.each do |content| %>
    <div class="media-container">
      <a href="<%= content.website_link != nil ? content.website_link : category_content_path(params[:id]) %>" target="_blank">
        <div class="media <%= @iteration == false ? 'white-highlighter' : 'orange-hightlighter' %>">
          <!-- Left thumbnail -->
          <% if @iteration == false %>
          <div class="media-left">
            <div class="media-thumbnail" style="background-image: url('<%= content.photo != '' ? content.photo : " http://budapesttimes.hu/wp-content/themes/newsroom14/img/placeholder.png" %>')"></div>
          </div>
          <% end %>
          <div class="media-body">
            <h4 class="media-heading"><%= content.info_label.first(80) %>...</h4>
            <hr>
            <p><%= content.info_text.first(200) %>...</p>
          </div>
          <!-- Right thumbnail -->
          <% if @iteration == true %>
          <div class="media-right">
            <div class="media-thumbnail" style="background-image: url('<%= content.photo != '' ? content.photo : " http://budapesttimes.hu/wp-content/themes/newsroom14/img/placeholder.png" %>')"></div>
          </div>
          <% end %>
        </a>
      </div>

      <% @iteration == false ? @iteration = true : @iteration = false %>

    </div>
    <!-- media container -->
    <% end %>
    <!-- media -->
  </div>
  <!-- col -->
</div>
<!-- container -->
