<div class=" text-center page-title">
  <h2><%= @category.name %></h2>
  <h5><%= @category.description %></h5>
</div>
<div class="container">
  <div class="col-md-12">

    <% media_left = false %>
    <% @contents.each do |content| %>
    <div class="media-container">

      <a href="<%= content.website_link != '' && content.website_link != nil ? content.website_link : category_content_path(@category, content) %>" target="<%= content.website_link != '' && content.website_link != nil ? '_blank' : '_self' %>">
        <div class="media <%= media_left == false ? 'white-highlighter' : 'orange-hightlighter' %>">
          <!-- Left thumbnail -->
          <% if !media_left %>
          <div class="media-left">
            <div class="media-thumbnail" style="background-image: url('<%= content.photo != '' ? content.photo : " http://budapesttimes.hu/wp-content/themes/newsroom14/img/placeholder.png" %>')"></div>
          </div>
          <% end %>
          <div class="media-body">
            <h4 class="media-heading"><%= content.info_label.first(150) %>...</h4>
            <hr>
            <p><%= content.info_text.first(250) %>...</p>
          </div>
          <!-- Right thumbnail -->
          <% if media_left %>
          <div class="media-right">
            <div class="media-thumbnail" style="background-image: url('<%= content.photo != '' ? content.photo : " http://budapesttimes.hu/wp-content/themes/newsroom14/img/placeholder.png" %>')"></div>
          </div>
          <% end %>
        </a>
      </div>

      <% media_left = !media_left %>

    </div>
    <!-- media container -->
    <% end %>
    <!-- media -->
  </div>
  <!-- col -->
</div>
<!-- container -->
